In [60]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/robi-datathon-30-qualifier-problem-2/problem 2.csv
/kaggle/input/robi-datathon-30-qualifier-problem-2/boxes.csv
/kaggle/input/robi-datathon-30-qualifier-problem-2/sample submission 2.csv
/kaggle/input/robi-datathon-30-qualifier-problem-2/purchase.csv

In [61]:
# Setting the seed for random number generation to ensure reproducibility
np.random.seed(42)

### Loading Datasets from CSV File

In [62]:
purchase_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-2/purchase.csv')
purchase_df.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0      1/2/2019  2CED678A247    12.0        1.0
1      1/2/2019  2BF58D91BA1    12.0        1.0
2      1/2/2019  2C15B86534E    99.0        1.0
3      1/2/2019  2C32D9A859A     6.0        1.0
4      1/2/2019  2C7A55404D1     4.0        1.0

In [63]:
boxes_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-2/boxes.csv')
boxes_df.head()

   BOX_ID  QUALITY      DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0       1  Premium  Home Delivery - CoD   0.0   2.7        9.96
1       2  Premium  Home Delivery - CoD   0.0   2.3       11.96
2       3  Premium  Home Delivery - CoD   0.0   2.4       11.96
3       4  Premium  Home Delivery - CoD   0.0   2.5       11.96
4       5  Premium  Home Delivery - CoD   0.0   2.6       11.96

In [64]:
problem2_df = pd.read_csv('/kaggle/input/robi-datathon-30-qualifier-problem-2/problem 2.csv')

In [65]:
### Exploration and Feature Engineering

In [66]:
# Displaying information about the purchase_df DataFrame
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455864 entries, 0 to 2455863
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   PURCHASE_DATE  object
 1   MAGIC_KEY      object
 2   BOX_ID         float64
 3   BOX_COUNT      float64
dtypes: float64(2), object(2)
memory usage: 74.9+ MB

In [67]:
# Displaying information about the boxes_df DataFrame
boxes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BOX_ID           290 non-null    int64
 1   QUALITY          290 non-null    object
 2   DELIVERY_OPTION  290 non-null    object
 3   MILK             290 non-null    float64
 4   MEAT             290 non-null    float64
 5   UNIT_PRICE       290 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 13.7+ KB

In [68]:
# remove all the rows that contain a missing value
purchase_df.dropna(inplace=True)

In [69]:
# Convert 'BOX_ID' column in 'purchase' dataset to int64
purchase_df['BOX_ID'] = purchase_df['BOX_ID'].astype(int)

In [70]:
#merge the datasets based on 'BOX_ID'
merged_df = pd.merge(purchase_df, boxes_df, on='BOX_ID')
merged_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,1/2/2019,2CED678A247,12,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,1/2/2019,2BF58D91BA1,12,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,1/2/2019,2C15B86534E,99,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,1/2/2019,2C32D9A859A,6,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,1/2/2019,2C7A55404D1,4,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455795,28/10/2018,2BD992B5538,12,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2455796,28/10/2018,2C97CD72233,17,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
2455797,28/10/2018,2C91C61D372,40,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
2455798,28/10/2018,2CD70CFC4E3,51,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
2455799,28/10/2018,2C4792A5B84,4,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [71]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455800 entries, 0 to 2455799
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   PURCHASE_DATE    object
 1   MAGIC_KEY        object
 2   BOX_ID           int64
 3   BOX_COUNT        float64
 4   QUALITY          object
 5   DELIVERY_OPTION  object
 6   MILK             float64
 7   MEAT             float64
 8   UNIT_PRICE       float64
dtypes: float64(4), int64(1), object(4)
memory usage: 168.6+ MB

In [72]:
# Calculating the number of missing values in each column of the merged DataFrame
merged_df.isnull().sum()

PURCHASE_DATE      0
MAGIC_KEY          0
BOX_ID             0
BOX_COUNT          0
QUALITY            0
DELIVERY_OPTION    0
MILK               0
MEAT               0
UNIT_PRICE         0
dtype: int64

In [73]:
import datetime  # Importing datetime module for date manipulation

# Converting 'PURCHASE_DATE' column to datetime format using the specified format
merged_df['PURCHASE_DATE'] = pd.to_datetime(merged_df['PURCHASE_DATE'], format='%d/%m/%Y')

In [74]:
# Get the oldest and latest dates
oldest_date = merged_df['PURCHASE_DATE'].min()
latest_date = merged_df['PURCHASE_DATE'].max()

print("Oldest Date:", oldest_date)
print("Latest Date:", latest_date)
print(latest_date-oldest_date)

Oldest Date: 2018-10-01 00:00:00
Latest Date: 2019-02-28 00:00:00
150 days 00:00:00

In [75]:
# Extracting the day of the month from the 'PURCHASE_DATE' column
merged_df['DAY_OF_MONTH'] = merged_df['PURCHASE_DATE'].dt.day

# Calculating the cost by multiplying 'BOX_COUNT' and 'UNIT_PRICE'
merged_df['COST'] = merged_df['BOX_COUNT'] * merged_df['UNIT_PRICE']

# Displaying the first few rows of the merged DataFrame with the new columns added
merged_df.head()

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,DAY_OF_MONTH,COST
0,2019-02-01,2CED678A247,12,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,1,12.98
1,2019-02-01,2BF58D91BA1,12,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,1,12.98
2,2019-02-01,2C15B86534E,99,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96,1,13.96
3,2019-02-01,2C32D9A859A,6,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96,1,11.96
4,2019-02-01,2C7A55404D1,4,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,1,11.96

### Encoding

In [76]:
# Getting the unique values of the 'QUALITY' column in the merged DataFrame
merged_df['QUALITY'].unique()

array(['Premium', 'Standard'], dtype=object)

In [77]:
# Defining the order of the QUALITY levels
QUALITY_ORDER = ['Standard', 'Premium']

In [78]:
from sklearn.preprocessing import OrdinalEncoder  # Importing OrdinalEncoder from scikit-learn for ordinal encoding

# Creating an instance of OrdinalEncoder with specified categories
o_encoder = OrdinalEncoder(categories=[QUALITY_ORDER])

# Displaying the OrdinalEncoder instance
o_encoder

OrdinalEncoder(categories=[['Standard', 'Premium']])

In [79]:
# Fitting the OrdinalEncoder to the 'QUALITY' column of the merged DataFrame
o_encoder.fit(merged_df[['QUALITY']])

OrdinalEncoder(categories=[['Standard', 'Premium']])

In [80]:
# Transforming the 'QUALITY' column of the merged DataFrame using the fitted OrdinalEncoder
encoded_data = o_encoder.transform(merged_df[['QUALITY']])

In [81]:
# Updating the 'QUALITY' column of the merged DataFrame with the encoded data
merged_df['QUALITY'] = pd.DataFrame(data=encoded_data, columns=['QUALITY'])

In [82]:
merged_df['QUALITY'].dtype

dtype('float64')

In [83]:
# Calculating the number of unique MAGIC_KEY values in the merged DataFrame
len(merged_df['MAGIC_KEY'].unique())

1274087

In [84]:
# Perform one-hot encoding for DELIVERY_OPTION
delivery_option_encoded = pd.get_dummies(merged_df['DELIVERY_OPTION'])

In [85]:
# Concatenate the one-hot encoded columns with the original dataframe
merged_df = pd.concat([merged_df, delivery_option_encoded], axis=1)

In [86]:
# Drop the original DELIVERY_OPTION column
merged_df.drop('DELIVERY_OPTION', axis=1, inplace=True)

In [87]:
merged_df.head()

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,MILK,MEAT,UNIT_PRICE,DAY_OF_MONTH,COST,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment
0,2019-02-01,2CED678A247,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False
1,2019-02-01,2BF58D91BA1,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False
2,2019-02-01,2C15B86534E,99,1.0,1.0,0.0,3.3,13.96,1,13.96,True,False,False
3,2019-02-01,2C32D9A859A,6,1.0,1.0,0.0,2.7,11.96,1,11.96,False,True,False
4,2019-02-01,2C7A55404D1,4,1.0,1.0,0.0,2.5,11.96,1,11.96,False,True,False

In [88]:
# Adding a new column 'Buy_in_first_15D' to the merged DataFrame
# indicating whether the purchase was made in the first 15 days of the month
merged_df['Buy_in_first_15D'] = merged_df['DAY_OF_MONTH'] <= 15

In [89]:
merged_df.head()

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,MILK,MEAT,UNIT_PRICE,DAY_OF_MONTH,COST,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
0,2019-02-01,2CED678A247,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False,True
1,2019-02-01,2BF58D91BA1,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False,True
2,2019-02-01,2C15B86534E,99,1.0,1.0,0.0,3.3,13.96,1,13.96,True,False,False,True
3,2019-02-01,2C32D9A859A,6,1.0,1.0,0.0,2.7,11.96,1,11.96,False,True,False,True
4,2019-02-01,2C7A55404D1,4,1.0,1.0,0.0,2.5,11.96,1,11.96,False,True,False,True

In [90]:
# Counting the number of occurrences of each BOX_ID value in the merged DataFrame
merged_df['BOX_ID'].value_counts()

BOX_ID
163    226548
143    189194
162    169705
258    116822
255    100048
        ...
242         1
243         1
93          1
19          1
109         1
Name: count, Length: 290, dtype: int64

In [91]:
# Setting the 'MAGIC_KEY' column as the index of the merged DataFrame
merged_df.set_index('MAGIC_KEY', inplace=True)

In [92]:
merged_df.head()

,PURCHASE_DATE,BOX_ID,BOX_COUNT,QUALITY,MILK,MEAT,UNIT_PRICE,DAY_OF_MONTH,COST,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,,,,,
2CED678A247,2019-02-01,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False,True
2BF58D91BA1,2019-02-01,12,1.0,1.0,8.0,1.5,12.98,1,12.98,False,True,False,True
2C15B86534E,2019-02-01,99,1.0,1.0,0.0,3.3,13.96,1,13.96,True,False,False,True
2C32D9A859A,2019-02-01,6,1.0,1.0,0.0,2.7,11.96,1,11.96,False,True,False,True
2C7A55404D1,2019-02-01,4,1.0,1.0,0.0,2.5,11.96,1,11.96,False,True,False,True

In [93]:
# Get the list of magic keys from problem2_df
problem_keys = problem2_df['MAGIC_KEY'].tolist()

# Remove rows corresponding to these keys from the training data
filtered = merged_df[merged_df.index.isin(problem_keys)]

In [94]:
print("Shape of filtered:", filtered.shape)

Shape of filtered: (168552, 13)

### Train-Test Split

In [95]:
# Separate features and target variable
X_train = filtered.drop(['PURCHASE_DATE', 'BOX_ID', 'DAY_OF_MONTH','COST'], axis=1)
y_train = filtered[['BOX_ID']]

In [96]:
print("Shape of X_train:", X_train.shape)
print("Shape of y_train:", y_train.shape)

Shape of X_train: (168552, 9)
Shape of y_train: (168552, 1)

In [97]:
# Get the list of columns
columns = list(X_train.columns)

# Remove QUALITY from its current position
columns.remove('QUALITY')

# Insert QUALITY at the fifth position
columns.insert(4, 'QUALITY')

# Reorder the columns in the DataFrame
X_train = X_train[columns]

In [98]:
X_train.head()

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
2C15B86534E,1.0,0.0,3.3,13.96,1.0,True,False,False,True
29D969045C2,1.0,10.7,0.0,12.78,0.0,True,False,False,True
2A00DE30F46,1.0,10.7,0.0,12.78,0.0,False,True,False,True
2C2CC83BB99,1.0,18.0,2.9,23.98,1.0,True,False,False,True
2BE02E54CA0,1.0,0.0,3.6,15.96,1.0,True,False,False,True

In [99]:
# Converting boolean columns to integers (0 and 1)
X_train['Delivery from Collection Point'] = X_train['Delivery from Collection Point'].astype(int)
X_train['Home Delivery - CoD'] = X_train['Home Delivery - CoD'].astype(int)
X_train['Home Delivery - Digital Payment'] = X_train['Home Delivery - Digital Payment'].astype(int)
X_train['Buy_in_first_15D'] = X_train['Buy_in_first_15D'].astype(int)

# Displaying the modified DataFrame
X_train.head()

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
2C15B86534E,1.0,0.0,3.3,13.96,1.0,1,0,0,1
29D969045C2,1.0,10.7,0.0,12.78,0.0,1,0,0,1
2A00DE30F46,1.0,10.7,0.0,12.78,0.0,0,1,0,1
2C2CC83BB99,1.0,18.0,2.9,23.98,1.0,1,0,0,1
2BE02E54CA0,1.0,0.0,3.6,15.96,1.0,1,0,0,1

In [100]:
from sklearn.preprocessing import MinMaxScaler

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Specify the columns to be standardized
columns_to_scale = ['BOX_COUNT', 'MILK', 'MEAT', 'UNIT_PRICE']

# Scale the specified columns
X_train[columns_to_scale] = scaler.fit_transform(X_train[columns_to_scale])

# Displaying the modified DataFrame
X_train.head()

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
2C15B86534E,0.0,0.000000,0.622642,0.456026,1.0,1,0,0,1
29D969045C2,0.0,0.445833,0.000000,0.391965,0.0,1,0,0,1
2A00DE30F46,0.0,0.445833,0.000000,0.391965,0.0,0,1,0,1
2C2CC83BB99,0.0,0.750000,0.547170,1.000000,1.0,1,0,0,1
2BE02E54CA0,0.0,0.000000,0.679245,0.564604,1.0,1,0,0,1

In [101]:
X_train.head()

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
2C15B86534E,0.0,0.000000,0.622642,0.456026,1.0,1,0,0,1
29D969045C2,0.0,0.445833,0.000000,0.391965,0.0,1,0,0,1
2A00DE30F46,0.0,0.445833,0.000000,0.391965,0.0,0,1,0,1
2C2CC83BB99,0.0,0.750000,0.547170,1.000000,1.0,1,0,0,1
2BE02E54CA0,0.0,0.000000,0.679245,0.564604,1.0,1,0,0,1

In [102]:
y_train.head()

             BOX_ID
MAGIC_KEY
2C15B86534E      99
29D969045C2     238
2A00DE30F46     204
2C2CC83BB99     174
2BE02E54CA0     108

**The test data will be of problem2_df but all their BOX_COUNT will be set as 1 (0.0 after standardized) and Buy_in_first_15D will be all set to 1 (True). As in the question it is explicitly mentioned that they will buy only 1 box and in the first 15 days of march. For Other features mean value and mode value will be chosen.**

In [103]:
# Filtering the DataFrame based on the condition where 'BOX_COUNT' is equal to 0.0
test_filter = X_train[(X_train['BOX_COUNT'] == 0.0)]

# Displaying the filtered DataFrame
test_filter

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
2C15B86534E,0.0,0.000000,0.622642,0.456026,1.0,1,0,0,1
29D969045C2,0.0,0.445833,0.000000,0.391965,0.0,1,0,0,1
2A00DE30F46,0.0,0.445833,0.000000,0.391965,0.0,0,1,0,1
2C2CC83BB99,0.0,0.750000,0.547170,1.000000,1.0,1,0,0,1
2BE02E54CA0,0.0,0.000000,0.679245,0.564604,1.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
2BEC767D4A1,0.0,0.458333,0.415094,1.000000,1.0,1,0,0,0
2BEA4C45A94,0.0,0.666667,0.339623,0.782845,1.0,1,0,0,0
2BF66227CE9,0.0,0.666667,0.339623,0.782845,1.0,1,0,0,0
2C026D65124,0.0,0.666667,0.339623,0.782845,1.0,1,0,0,0
2C0E3E53ED0,0.0,0.500000,0.339623,0.782845,1.0,1,0,0,0

In [104]:
# Counting the number of unique indices in the filtered DataFrame
test_filter.index.nunique()

43518

In [105]:
# Getting the unique values of 'BOX_COUNT' in the filtered DataFrame
test_filter['BOX_COUNT'].unique()

array([0.])

In [106]:
# Calculating the mean of the first four columns for each unique index in the filtered DataFrame
group1 = test_filter.iloc[:, 0:4].groupby(level=0).mean()

In [107]:
group1

             BOX_COUNT      MILK      MEAT  UNIT_PRICE
MAGIC_KEY
297D1B85F05        0.0  0.616667  0.301887    0.698154
297D1E96722        0.0  0.555556  0.415094    0.746652
297D1EE2EFE        0.0  0.347222  0.000000    0.242128
297D2075EEB        0.0  0.500000  0.415094    0.728556
297D20CC1A6        0.0  0.000000  0.679245    0.564604
...                ...       ...       ...         ...
2C49E2886F3        0.0  0.430556  0.415094    1.000000
2C49E73ED2D        0.0  0.416667  0.000000    0.359392
2C49E79B9AC        0.0  0.466667  0.339623    0.782845
2C49F518CE1        0.0  0.416667  0.349057    0.782845
2C4A1BF6CCF        0.0  0.458333  0.443396    0.891422

[43518 rows x 4 columns]

In [108]:
# Calculating the mode of the remaining columns for each unique index in the filtered DataFrame
group2 = test_filter.iloc[:, 4:].groupby(level=0).agg(lambda x: x.mode().iloc[0])

In [109]:
group2

,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,
297D1B85F05,0.0,1,0,0,1
297D1E96722,0.0,1,0,0,1
297D1EE2EFE,0.0,1,0,0,0
297D2075EEB,0.0,1,0,0,1
297D20CC1A6,0.0,1,0,0,1
...,...,...,...,...,...
2C49E2886F3,1.0,1,0,0,0
2C49E73ED2D,1.0,0,1,0,1
2C49E79B9AC,1.0,1,0,0,1
2C49F518CE1,1.0,1,0,0,1
2C4A1BF6CCF,1.0,1,0,0,1

In [110]:
# Concatenating group1 and group2 along the columns (axis=1) to form the X_test DataFrame
X_test = pd.concat([group1, group2], axis=1)

In [111]:
X_test['Buy_in_first_15D'] = 1

In [112]:
X_test

,BOX_COUNT,MILK,MEAT,UNIT_PRICE,QUALITY,Delivery from Collection Point,Home Delivery - CoD,Home Delivery - Digital Payment,Buy_in_first_15D
MAGIC_KEY,,,,,,,,,
297D1B85F05,0.0,0.616667,0.301887,0.698154,0.0,1,0,0,1
297D1E96722,0.0,0.555556,0.415094,0.746652,0.0,1,0,0,1
297D1EE2EFE,0.0,0.347222,0.000000,0.242128,0.0,1,0,0,1
297D2075EEB,0.0,0.500000,0.415094,0.728556,0.0,1,0,0,1
297D20CC1A6,0.0,0.000000,0.679245,0.564604,0.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
2C49E2886F3,0.0,0.430556,0.415094,1.000000,1.0,1,0,0,1
2C49E73ED2D,0.0,0.416667,0.000000,0.359392,1.0,0,1,0,1
2C49E79B9AC,0.0,0.466667,0.339623,0.782845,1.0,1,0,0,1
2C49F518CE1,0.0,0.416667,0.349057,0.782845,1.0,1,0,0,1
2C4A1BF6CCF,0.0,0.458333,0.443396,0.891422,1.0,1,0,0,1

## RandomForestClassifie

In [136]:
from sklearn.ensemble import RandomForestClassifier

In [137]:
# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)  # You can adjust the number of trees (n_estimators)

# Train the model on the training data
rf_classifier.fit(X_train, y_train)

/tmp/ipykernel_33/4071964981.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [138]:
# Use the trained model to make predictions on the test data
rf_pred = rf_classifier.predict(X_test)

In [139]:
rf_pred

array([260, 269, 228, ..., 137, 134, 165])

In [146]:
# Creating a DataFrame with 'MAGIC_KEY' from X_test index and 'BOX_ID' predictions
predictions_df = pd.DataFrame({'MAGIC_KEY': X_test.index, 'BOX_ID': rf_pred})

In [141]:
predictions_df

         MAGIC_KEY  BOX_ID
0      297D1B85F05     260
1      297D1E96722     269
2      297D1EE2EFE     228
3      297D2075EEB     269
4      297D20CC1A6     255
...            ...     ...
43513  2C49E2886F3     162
43514  2C49E73ED2D       8
43515  2C49E79B9AC     137
43516  2C49F518CE1     134
43517  2C4A1BF6CCF     165

[43518 rows x 2 columns]

In [147]:
# Merging problem2_df with predictions_df on 'MAGIC_KEY'
submission = pd.merge(problem2_df, predictions_df, on='MAGIC_KEY')

# Displaying the merged DataFrame
submission

         MAGIC_KEY  BOX_ID
0      2C0B5F97180     137
1      2C2F659EF00     142
2      29D629EDF20     237
3      2A7073E2FF0     222
4      2A9B9BE1210     260
...            ...     ...
43513  2C49A3D7EAD     134
43514  2C49C75F0D8     182
43515  2C49CA2A632     106
43516  2C49D52753F      40
43517  2C49DF0ADB4     134

[43518 rows x 2 columns]

In [148]:
# Saving the submission DataFrame to a CSV file without including the index
submission.to_csv('Submission.csv', index=False)

In [149]:
# Reading the saved CSV file back into a DataFrame
pd.read_csv('/kaggle/working/Submission.csv')

         MAGIC_KEY  BOX_ID
0      2C0B5F97180     137
1      2C2F659EF00     142
2      29D629EDF20     237
3      2A7073E2FF0     222
4      2A9B9BE1210     260
...            ...     ...
43513  2C49A3D7EAD     134
43514  2C49C75F0D8     182
43515  2C49CA2A632     106
43516  2C49D52753F      40
43517  2C49DF0ADB4     134

[43518 rows x 2 columns]